html {
    font-size: 16px;
}

.text-yellow {
    color: #fde910;
}

.text-yellow:hover {
    color: yellow;
}

.order_card {
    display: flex;
    justify-content: start;
    align-items: center;
    position: relative;
    margin: 0rem 7rem;
}

@media screen and (max-width: 992px) {
    .order_card {
        margin: 0rem 1rem;
    }
}

.order_subscr {
}

.order_date {
    display: flex;
    justify-content: start;
    color: grey;
}

.order_link_nostyle {
    color: black;
    text-decoration: none;
}

.order_date_view {
    display: flex;
    justify-content: start;
    color: grey;
}

@media screen and (max-width: 992px) {
    .order_subscr {
        margin-top: 1rem;
    }
}

.order_subscr .order_date i {
    padding-top: 1px;
}

.order_subscr .order_date p {
    margin-left: 5px;
    font-size: 0.9rem;
}

.order_picture {
    width: 100%;
    border-radius: 10px;
}

.order_donations {
    display: flex;
    align-items: center;
}

.order_collect_text {
    font-weight: bold;
    color: red;
    font-size: 1.5rem;
}

.order_collect_edit {
    color: #0d6efd;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.order_collect_edit:hover {
    color: blue;
}

.order_quant {
    margin-left: auto;
}

.order_quant_text {
    font-weight: bold;
    font-size: 1.2rem;
}

.order_goal_text {
    font-weight: bold;
    color: green;
    font-size: 1.5rem;
    margin-right: auto;
}

.order_goal_edit {
    color: #0d6efd;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.order_goal_edit:hover {
    color: blue;
}

.order_subscr .buttons.read_more {

}

.order_subscr .buttons .donate {

}

.admin_buttons {
    position: absolute;
    right: 0;
    top: 0;
}

.row_bottom {
    align-items: center;
    margin-top: 1rem;
}

.donate_rearmore {
    margin-top: 0rem;
}

@media screen and (max-width: 991px) {
    .row_bottom {
        margin-top: 0rem;
    }
    .donate_rearmore {
        margin-top: 1rem;
    }
}

.separator {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.info_on_top {
    position: absolute;
    right:5%;
}

.orders_numbers {
    display: flex;
    align-items: center;
}

.order_collect_text_view {
    font-weight: bold;
    color: red;
    font-size: 1.5rem;
}

.order_goal_view {
    margin-left: auto;
}

.order_goal_text_view {
    font-weight: bold;
    color: green;
    font-size: 1.5rem;
}

.arrow-left {
    font-size: 2rem;
    color: #4d4d4d;
    position: absolute;
    left: -3rem;
    top: 4rem;
}

.arrow-left:hover {
    font-size: 2.1rem;
    color: blue;
}

.arrow-right {
    font-size: 2rem;
    color: #4d4d4d;
    position: absolute;
    right: -3rem;
    top: 4rem;
}

@media screen and (max-width: 574px) {
    .arrow-left {
        left: -1.5rem;
    }
    .arrow-right {
        right: -1.5rem;
    }
}

.arrow-right:hover {
    font-size: 2.1rem;
    color: blue;
}

.donater-table {

}

.btn-history-replace {
    position: absolute;
    right: 9.5rem;
}


.btn-history-delete {
    position: absolute;
    right: 7rem;
}

.news_date {
    font-size: 0.8rem;
    display: flex;
    justify-content: start;
    color: grey;
}

.news_date i {
    margin-top: 3px;
}

.news_tag {
    font-size: 0.8rem;
    display: flex;
    justify-content: end;
    color: #0d6efd;
}

.news_tag i {
    margin-top: 3px;
}

.color-orange {
    color: coral;
}

.bt_edit_news {
    position: absolute;
    left: 87%;
}

.bt_del_news {
    position: absolute;
    left: 93%;
}

.carousel-control-next {
    width: 8%;
}

.carousel-control-prev {
    width: 8%;
}

.pic_ceo {
    max-width: 100px;
}

.feature {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
    width: 3rem;
    font-size: 1.5rem;
}

.fb_link {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -10%);
}

.owl-nav {
    display: none !important;
}

.owl-prev {
    font-size: 2rem !important;
}

.owl-next {
    font-size: 2rem !important;
}

.owl-nav {
    margin-top: 0px !important;;
}

.form-header {
    background-color: #0d6efd; !important;
    padding: 1rem;
    margin-top: -3.13rem;
    margin-bottom: 2rem;
    color: #fff;
    text-align: center;
    border-radius: 0.125rem;
    -webkit-box-shadow: 0 5px 11px 0 rgb(0 0 0 / 18%), 0 4px 15px 0 rgb(0 0 0 / 15%);
    box-shadow: 0 5px 11px 0 rgb(0 0 0 / 18%), 0 4px 15px 0 rgb(0 0 0 / 15%);
}

.btn-floating {
    position: relative;
    z-index: 1;
    display: inline-block;
    padding: 0;
    margin: 10px;
    overflow: hidden;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 50%;
    -webkit-box-shadow: 0 5px 11px 0 rgb(0 0 0 / 18%), 0 4px 15px 0 rgb(0 0 0 / 15%);
    box-shadow: 0 5px 11px 0 rgb(0 0 0 / 18%), 0 4px 15px 0 rgb(0 0 0 / 15%);
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    width: 47px;
    height: 47px;
    background-color: #0d6efd !important;
}

.btn-floating i {
    display: inline-block;
    width: inherit;
    color: #fff;
    text-align: center;
    font-size: 1.25rem;
    line-height: 47px;
}

.height-container {
    height: 80vh;
}

.counter {
    background-color:#f5f5f5;
    padding: 20px 0;
    border-radius: 5px;
}

.count-title {
    font-size: 40px;
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 0;
    text-align: center;
}

.count-text {
    font-size: 13px;
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 0;
    text-align: center;
}

.color-blue {
    color: #0d6efd;
}

.bg_flag {
    background: rgb(255,209,0);
    background: linear-gradient(0deg, rgba(255,209,0,1) 35%, rgba(0,130,209,1) 65%);
}

.gradient_box {
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
    border-radius: 10px;
    background: rgba(255,245,215,0.85);
}

@media screen and (max-width: 600px) {
    .gradient_box {
        width: 90%;
    }
}

.carousel-control-prev-icon, .carousel-control-next-icon {

}