html {
    font-size: 16px;
}

.order_card {
    display: flex;
    justify-content: start;
    align-items: center;
    position: relative;
    margin: 0rem 7rem;
}

@media screen and (max-width: 992px) {
    .order_card {
        margin: 0rem 1rem;
    }
}
.order_subscr {
}

.order_date {
    display: flex;
    justify-content: start;
    color: grey;
}

.order_link_nostyle {
    color: black;
    text-decoration: none;
}

.order_date_view {
    display: flex;
    justify-content: start;
    color: grey;
}

.order_subscr .order_date i {
    padding-top: 1px;
}

.order_subscr .order_date p {
    margin-left: 5px;
    font-size: 0.9rem;
}

.order_picture {
    width: 90%;
    border-radius: 10px;
}

.order_donations {
    display: flex;
    align-items: center;
}

.order_collect_text {
    font-weight: bold;
    color: red;
    font-size: 1.5rem;
}

.order_collect_edit {
    color: #0d6efd;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.order_collect_edit:hover {
    color: blue;
}

.order_quant {
    margin-left: auto;
}

.order_quant_text {
    font-weight: bold;
    font-size: 1.2rem;
}

.order_goal_text {
    font-weight: bold;
    color: green;
    font-size: 1.5rem;
    margin-right: auto;
}

.order_goal_edit {
    color: #0d6efd;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.order_goal_edit:hover {
    color: blue;
}

.order_subscr .buttons.read_more {

}

.order_subscr .buttons .donate {
    margin-left: 1rem;
}

.admin_buttons {
    position: absolute;
    right: 0;
    top: 0;
}

.buttons {
    display: flex;
    align-items: center;
}

.separator {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.info_on_top {
    position: absolute;
    right:5%;
}

.orders_numbers {
    display: flex;
    align-items: center;
}

.order_collect_text_view {
    font-weight: bold;
    color: red;
    font-size: 1.5rem;
}

.order_goal_view {
    margin-left: auto;
}

.order_goal_text_view {
    font-weight: bold;
    color: green;
    font-size: 1.5rem;
}

.arrow-left {
    font-size: 2rem;
    color: #4d4d4d;
    position: absolute;
    left: -3rem;
    top: 4rem;
}

.arrow-left:hover {
    font-size: 2.1rem;
    color: blue;
}

.arrow-right {
    font-size: 2rem;
    color: #4d4d4d;
    position: absolute;
    right: -3rem;
    top: 4rem;
}

.arrow-right:hover {
    font-size: 2.1rem;
    color: blue;
}

.donater-table {
    margin: 3rem 0;
}