<div class="modal fade" id="modal_donate" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel name">Задонатити на <span type="text" id="name"  name="order-name"></span></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body text-center">
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" href="#by_creditcard" data-bs-toggle="tab" >На офіційний рахунок</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#by_paypal" data-bs-toggle="tab">На Paypal</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#other" data-bs-toggle="tab">Іншим способом</a>
                        </li>
                    </ul>
                </div>
                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade show active mx-4 mb-4" id="by_creditcard" role="tabpanel" aria-labelledby="pills-home-tab">
                        <form method="post" action="modules/donate_credit_card.php">
                            <div class="row mb-4">
                                <label class="form-label">Заповніть поля та нажміть на кнопку "Продовжити"</label>
                                <div class="col-sm-4">
                                    <div class="form-floating">
                                        <input type="hidden" class="name" name="order-name">
                                        <input type="hidden" class="order_id_hidden" name="id">
                                        <input type="hidden" class="card_order_hidden" name="card_order">
                                        <input type="number" class="form-control" id="floatingInput" placeholder="name@example.com" name="donate_sum" required>
                                        <label for="floatingInput">Сума донату, грн.</label>
                                        <div class="form-check mt-1">
                                            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                                            <label class="form-check-label" for="flexCheckChecked">
                                                <small>Дозволити перенести донат на іншу заяву при нагальній потребі</small>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-8">
                                    <div class="form-floating">
                                        <input type="text" class="form-control" id="floatingPassword" placeholder="Підпис на сторінці" name="donater_name" required>
                                        <label for="floatingPassword">Ваше ім`я</label>
                                        <div class="mt-1"><small>Після успішної оплати Ваше ім`я буде відображено в історії донатів по даній заявці</small></div>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex justify-content-end">
                                <button type="button" class="btn btn-secondary  me-3">Відміна</button>
                                <button type="submit" class="btn btn-primary">Продовжити</button>
                            </div>
                        </form>
                    </div>
                    <div class="tab-content" id="pills-tabContent">
                        <div class="tab-pane fade mx-4 mb-4" id="by_paypal" role="tabpanel" aria-labelledby="pills-profile-tab">
                            <form method="post" action="../modules/donate_credit_card.php">
                                <div class="row mb-4">
                                    <label class="form-label">Заповніть поля та нажміть на кнопку "Продовжити"</label>
                                    <div class="col-sm-4">
                                        <div class="form-floating">
                                            <input type="number" class="form-control" id="floatingInput" placeholder="name@example.com" required>
                                            <label for="floatingInput">Сума донату, грн.</label>
                                        </div>
                                    </div>
                                    <div class="col-sm-8">
                                        <div class="form-floating">
                                            <input type="text" class="form-control" id="floatingPassword" placeholder="Підпис на сторінці" required>
                                            <label for="floatingPassword">Ваше ім`я</label>
                                            <small>Після успішної оплати Ваше ім`я буде відображено в історії донатів по даній заявці</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-end">
                                    <button type="button" class="btn btn-secondary  me-3">Відміна</button>
                                    <button type="submit" class="btn btn-primary">Продовжити</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="tab-content" id="pills-tabContent">
                        <div class="tab-pane fade mx-4 mb-4" id="other" role="tabpanel" aria-labelledby="pills-contact-tab">
                            <form method="post" action="../modules/donate_credit_card.php">
                                <div class="row mb-4">
                                    <label class="form-label">Заповніть поля та нажміть на кнопку "Продовжити"</label>
                                    <div class="col-sm-4">
                                        <div class="form-floating">
                                            <input type="number" class="form-control" id="floatingInput" placeholder="name@example.com" required>
                                            <label for="floatingInput">Сума донату, грн.</label>
                                        </div>
                                    </div>
                                    <div class="col-sm-8">
                                        <div class="form-floating">
                                            <input type="text" class="form-control" id="floatingPassword" placeholder="Підпис на сторінці" required>
                                            <label for="floatingPassword">Ваше ім`я</label>
                                            <small>Після успішної оплати Ваше ім`я буде відображено в історії донатів по даній заявці</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-end">
                                    <button type="button" class="btn btn-secondary  me-3">Відміна</button>
                                    <button type="submit" class="btn btn-primary">Продовжити</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

<!--&lt;!&ndash;                    This ID&ndash;&gt;-->
<!--                    <input type="hidden" class="id_hidden" name="id">-->

        </div>
    </div>
</div>