<div class="modal fade" id="modal_goal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm modal-dialog-centered">
        <div class="modal-content">
            <form method="post" action="modules/upd_goal.php">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Змінити ціль по збору</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body text-center">

                    <input type="number" class="showgoal" name="goal"> грн.
                    <input type="hidden" class="id_hidden" name="id">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрити</button>
                    <button type="submit" class="btn btn-primary">Змінити</button>
                </div>
            </form>
        </div>
    </div>
</div>